body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
 }

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #FF00BF;
}

.menu{
	background-color: rgba(225 255 255 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.menu.flex-container{
	justify-content: flex-end;
}

/* Contenedor Flexbox*/
.flex-container{
    display: flex;
}
nav{
	text-align: center;
	padding: 20px;
}

.logo{
    margin-right: auto;
    margin-left: auto;
    width: 4rem;
    height: 2.83871rem;
    
}
.logo-container{
	margin-right: auto;
	margin-left: 50px;
	justify-content: flex-start;
}

.link {
	font-size: 1.125rem;
  	color: #fff;	
  	padding: 21px;
}

.btn-home {
  	color: #fff;
  	border: 1px solid currentColor;
  	margin-right: 50px;
  	border-radius: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.bgFondo{
	max-width: 100%;
    width: 100%;
}


.informacion {
    display: flex;
    background: linear-gradient(#76278f, #2B1E66);
    margin: 0;
    color: white;
}

.container-info {
    margin-top: 100px;
    margin-left: 150px;
}

.phone {
    margin-right: 100px;
    width: 500px;
    
}

.texto-info{
    font-size: 14px;
    margin-bottom: 50px;
}

.titulo {
    font-size: 25px;
}

video {
    width: 100%;
    margin-top: -138px;
    /* margin-bottom: 2%; */
     z-index: -9999999; 
     background-size: cover;
     position: center;
     position: absolute;
}


footer{
	background-color: #333447;
	height: 400px;
}

.titulos{
  	color: white;
	display: flex;
	align-self: baseline;
	padding: 20px 0px 0px 50px;
	text-transform: uppercase;
}

.list{
	display: flex;
	flex-direction: row;
	padding: 20px 50px 0 50px;
}

.lista{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
}

